name: end-to-end tests on branch
on:
  push:
  workflow_dispatch:
    inputs:
      external_ref_id:
        description: 'Identifier to use for unique run detection'
        required: true
        default: 'manual'
        type: string
      client_branch:
        description: 'Client branch'
        required: true
        default: 'master'
        type: string
jobs:
  run-tests:
    runs-on: ubuntu-latest
    env:
      CLIENT_BRANCH: ${{ github.event.inputs.client_branch || 'master' }}
      HOST: http://127.0.0.1:5002
      ORCID_PASSWORD: ${{ secrets.ORCID_PASSWORD }}
      ORCID_USER: ${{ secrets.ORCID_USER }}
    steps:
      - name: ${{ github.event.inputs.external_ref_id || 'manual' }}
        run: echo
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: actions/setup-python@v5
        with:
          python-version: 3
      - run: make start_client
      - run: npm install
      - run: npx --yes update-browserslist-db@latest
      - run: npx testcafe --hostname localhost --retry-test-pages --skip-js-errors --selector-timeout 60000 "chrome:headless" browse-periods view-authority
      - run: make -C periodo-client stop
